<%- include('../includes/head') %>
<%- include('../includes/nav') %>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const errorMessage = document.getElementById('error-message');
  const successMessage = document.getElementById('success-message');
  const form = document.querySelector('form');

  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const error = '<%= typeof register !== "undefined" && register.errors.length > 0 %>';
    if (error) {
      errorMessage.style.display = 'block';
      errorMessage.classList.add('alert', 'alert-danger');
      setTimeout(() => {
        errorMessage.style.display = 'none';
        errorMessage.classList.remove('alert', 'alert-danger');
      }, 3000);
    } else {
      form.submit();
    }
  });

  if (successMessage.textContent !== '') {
    successMessage.style.display = 'block';
    successMessage.classList.add('alert', 'alert-success'); 
    setTimeout(() => {
      successMessage.style.display = 'none';
      successMessage.classList.remove('alert', 'alert-success');
    }, 3000);
  }
});
</script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8" style="padding-top: 30px;">
      <h1 class="text-center">Faça seu cadastro</h1>
      <div id="success-message" class="success-message text-center">
        <% if (typeof successMessage !== 'undefined' && successMessage !== '') { %>
          <div class="alert alert-success"><%= successMessage %></div>
        <% } %>
      </div>      
      <div id="error-message" class="error-message text-center">
        <% if (typeof register !== 'undefined' && register.errors.length > 0) { %>
          <div class="alert alert-danger"><%= register.errors[0] %></div>
        <% } %>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-lg-6">
          <form action="/register" method="post" style="width: 400px;">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="row">
              <div class="col-lg">
                <div class="mb-2">
                  <label>Nome</label>
                  <input type="name" class="form-control" name="nome" value="<%= typeof register !== 'undefined' ? register.body.nome : '' %>" required>
                </div>
                <div class="mb-2">
                  <label>Sobrenome</label>
                  <input type="name" class="form-control" name="sobrenome" value="<%= typeof register !== 'undefined' ? register.body.sobrenome : '' %>" required>
                </div>
                <div class="mb-2">
                  <label>Email</label>
                  <input type="email" class="form-control" name="email" value="<%= typeof register !== 'undefined' ? register.body.email : '' %>" required>
                </div>
                <div class="mb-2">
                  <label>Telefone</label>
                  <input type="number" class="form-control" name="telefone" value="<%= typeof register !== 'undefined' ? register.body.telefone : '' %>" required>
                </div>
                <div class="mb-2">
                  <label>Senha</label>
                  <input type="password" class="form-control" name="senha" required>
                </div>
                <div class="mb-2">
                  <label>Confirmação de senha</label>
                  <input type="password" class="form-control" name="confirmacaoSenha" required>
                </div>
                <div>
                  <input type="checkbox" class="form-check-input" required>
                  <label class="mb-2 form-check-label">Eu li e aceito os <a href="/termos">termos de uso</a></label>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" style="width: 400px;">Criar minha conta</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer') %>
